html{
    scroll-behavior: smooth;
}
html,div,ul{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
a{
    transition: all 1s;                
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,li{
    list-style: none;
    float: left;
}
[class^="flaticon-"]:before {
    margin-left: 0;
  }