html {
  scroll-behavior: smooth;
}

html, div, ul {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
  float: left;
}

[class^="flaticon-"]:before {
  margin-left: 0;
}

header {
  background-color: #f1f2f6;
}

header .col-9 > .inner > .text > .font-25 {
  font-size: 25px;
  color: #257874;
}

header .col-9 > .inner > .text > .text-green {
  color: #257874;
}

header .col-9 > .col-8 > .navbar > .navbar-collapse {
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

header .col-9 > .col-8 > .navbar > .navbar-collapse > .navbar-nav > .nav-item > .nav-link {
  font-size: 19px !important;
  color: #257874 !important;
}

header .col-9 > .col-8 > .navbar > .navbar-collapse > .navbar-nav > .nav-item:not(.active) > .nav-link:hover {
  color: #ffdd59 !important;
}

header .col-9 > .col-8 > .navbar > .navbar-collapse > .navbar-nav > .nav-item.active > .nav-link {
  color: red !important;
  opacity: 0.5 !important;
}

header .myHover:hover {
  background: black !important;
}

header .myHover:hover a {
  color: yellow !important;
}

header .col-3 .head-font {
  font-size: 16px;
}

header .col-3 span.text-darkgreen.number {
  font-size: 17px;
  color: #257874;
}

header #myMenu2 {
  margin: -30px 0 0 110px;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
  opacity: 0;
}

main > .container > .row > .left-side > .row > .col-12 > section#first > .container > .row > .col-12 > #home {
  height: 300px;
  background-image: url(../images/home.webp);
  background-position: center;
  background-size: cover;
}

main > .container > .row > .left-side > .row > .col-12 > section#first > .container > .row > .col-12 > #home > .fonts {
  background-color: #ffdd59;
  font-size: 25px;
  color: #257874;
  letter-spacing: 1px;
}

main > .container > .row > .left-side > .row > .col-12 > section#second > .container > .row > .col-12 > .card-deck > .col-12 > .card > .card-image {
  height: 100px;
}

main > .container > .row > .left-side > .row > .col-12 > section#second > .container > .row > .col-12 > .card-deck > .col-12 > .card > .card-footer .read-more {
  width: 120px;
}

main > .container > .row > .left-side > .row > .col-12 > section#second > .container > .row > .col-12 > .card-deck > .col-12 > .card > .card-footer .read-more > .b1-top {
  border-bottom: 12px solid #ffc107;
  bottom: 50% !important;
  border-left: 0;
  border-right: 20px solid transparent;
  position: absolute;
  right: -20px;
}

main > .container > .row > .left-side > .row > .col-12 > section#second > .container > .row > .col-12 > .card-deck > .col-12 > .card > .card-footer .read-more > .b1-bottom {
  border-top: 12px solid #ffc107;
  top: 50% !important;
  border-left: 0;
  border-right: 20px solid transparent;
  position: absolute;
  right: -20px;
}

main > .container > .row > .left-side > .row > .col-12 > section#team > .container > .row > .my-team-card > .team-card {
  height: 350px;
  opacity: 1;
  background-color: #1af716c9 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(38%, rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 38%, rgba(0, 0, 0, 0.4) 100%);
}

main > .container > .row > .left-side > .row > .col-12 > section#team > .container > .row > .my-team-card > .team-card > .yellow-card {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

main > .container > .row > .left-side > .row > .col-12 > section#team > .container > .row > .my-team-card > .team-card > .yellow-card > .team-card-2 {
  bottom: 10px;
}

main > .container > .row > .left-side > .row > .col-12 > section#team > .container > .row > .my-team-card > .team-card > .yellow-card > .team-card-2 > .image {
  width: 40px;
}

main > .container > .row > .left-side > .row > .col-12 > section#contact > .container > .row {
  background-color: #f1f2f6;
}

main > .container > .row > .left-side > .row > .col-12 > section#contact > .container > .row > .my-heading > .heading::after {
  content: ' ';
  position: absolute;
  width: 45px;
  height: 4px;
  background-color: #e67e22;
  bottom: 0;
}

main > .container > .row > .left-side > .row > .col-12 > section#contact > .container > .row > .my-heading > form .my-form > input.my-box {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  padding-left: 0;
  border-bottom: 1px solid #ccc !important;
}

main > .container > .row > .left-side > .row > .col-12 > section#contact > .container > .row > .my-heading > form .my-form > span.line {
  bottom: -1px;
  left: 0;
  right: auto;
  width: 0;
  height: 2px;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  background-color: #d9832e;
}

main > .container > .row > .left-side > .row > .col-12 > section#contact > .container > .row > .my-heading > form .my-form > .my-box:focus + .line {
  width: 100%;
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-12 > #travel > .card > div.img {
  overflow: hidden;
  height: 350px;
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-12 > #travel > .card > div.img > img {
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-12 > #travel > .card > .overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000075;
  background-blend-mode: color-burn;
  visibility: hidden;
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-12 > #travel > .card > .overlay > .text-light {
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  margin-left: -15%;
  visibility: hidden;
  opacity: 0;
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-12 > #travel > .card > .overlay > .text-light > .por-h-fonts {
  font-size: 25px;
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-12 > #travel .card:hover > .overlay {
  visibility: visible;
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-12 > #travel .card:hover > .overlay .text-light {
  visibility: visible;
  margin-left: 0;
  opacity: 1;
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-12 > #travel .card:hover > div.img > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-3 {
  background-color: #257874;
}

main > .container > .row > .left-side > .row > .col-12 > section#third > .container > .row > .col-3 .text-lightgray {
  color: lightgray;
}

main > .container > .row > .right-side > .row > .col-12 {
  background-color: #079992;
}

main > .container > .row > .right-side > .row > .col-12 {
  background-color: #257874;
}

main > .container > .row > .right-side > .row > .col-12 {
  background-color: #257874;
}

main > .container > .row > .right-side > .row > .col-12 .text-lightgray {
  color: lightgray;
}

footer.ft-baccol {
  background-color: #111 !important;
}

footer.ft-baccol .social-links #social .my-soc-links {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer.ft-baccol .social-links #social .my-soc-links > span::before {
  margin-left: 0;
  font-size: 20px;
}

footer.ft-baccol .social-links #social .my-soc-links:hover {
  color: #fff !important;
}

@media only screen and (min-width: 992px) {
  #navbarTogglerDemo01 {
    max-height: 100% !important;
  }
  section .team-card {
    -webkit-transition: linear all 0.3s !important;
    transition: linear all 0.3s !important;
    opacity: .7 !important;
  }
  section .team-card .yellow-card {
    display: none !important;
    -webkit-transition: linear all 0.3s !important;
    transition: linear all 0.3s !important;
  }
  section .my-team-card:hover .team-card {
    -webkit-transform: rotateY(180deg) !important;
            transform: rotateY(180deg) !important;
  }
  section .my-team-card:hover .team-card .yellow-card {
    -webkit-transform: rotateY(180deg) !important;
            transform: rotateY(180deg) !important;
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  header .navbar-collapse {
    opacity: 1;
  }
  section#third .my-fontss {
    font-size: 14px !important;
  }
  .fonts {
    font-size: 17px !important;
  }
  .head-font {
    font-size: 15px !important;
  }
  .number {
    font-size: 16px !important;
  }
  #home {
    height: 175px !important;
  }
  .card-deck h5 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 576px) {
  .my-fontss {
    font-size: 12px !important;
  }
  .fonts {
    font-size: 12px !important;
  }
  .head-font {
    font-size: 13px !important;
  }
  .number {
    font-size: 15px !important;
  }
  #home {
    height: 150px !important;
  }
}
/*# sourceMappingURL=style.css.map */